# Ex1 - Getting and Knowing your Data


### Step 1: Initialize PySpark Session

In [1]:
#Import the spark library ti initiate SparkSession
from pyspark.sql import SparkSession

# Create a Spark session
spark = SparkSession.builder.appName("Day1").getOrCreate()

23/09/04 15:37:57 WARN Utils: Your hostname, anujs-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.68 instead (on interface en0)
23/09/04 15:37:57 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/04 15:37:57 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

### Step 2: Load the Dataset

In [2]:
# Load the Chipotle dataset into a Spark DataFrame
data_path = '/Users/anujkhadka/Fusemachines47/ALL SPARK/Spark_Assignment_2023/Day_1/chipotle.csv' # Replace with the actual path
df = spark.read.csv(data_path, header=True, inferSchema=True)

23/09/04 15:38:10 WARN GarbageCollectionMetrics: To enable non-built-in garbage collector(s) List(G1 Concurrent GC), users should configure it(them) to spark.eventLog.gcMetrics.youngGenerationGarbageCollectors or spark.eventLog.gcMetrics.oldGenerationGarbageCollectors

### Step 3. Get an overview of the DataFrame:

In [3]:
#To get overview of the dataframe
df.printSchema()

root
 |-- _c0: integer (nullable = true)
 |-- order_id: integer (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- item_name: string (nullable = true)
 |-- choice_description: string (nullable = true)
 |-- item_price: string (nullable = true)

In [4]:
df.show(5)

+---+--------+--------+--------------------+--------------------+----------+
|_c0|order_id|quantity|           item_name|  choice_description|item_price|
+---+--------+--------+--------------------+--------------------+----------+
|  0|       1|       1|Chips and Fresh T...|                null|    $2.39 |
|  1|       1|       1|                Izze|        [Clementine]|    $3.39 |
|  2|       1|       1|    Nantucket Nectar|             [Apple]|    $3.39 |
|  3|       1|       1|Chips and Tomatil...|                null|    $2.39 |
|  4|       2|       2|        Chicken Bowl|[Tomatillo-Red Ch...|   $16.98 |
+---+--------+--------+--------------------+--------------------+----------+
only showing top 5 rows

23/09/04 15:38:57 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , order_id, quantity, item_name, choice_description, item_price
 Schema: _c0, order_id, quantity, item_name, choice_description, item_price
Expected: _c0 but found:
CSV file: file:///Users/anujkhadka/Fusemachines47/ALL%20SPARK/Spark_Assignment_2023/Day_1/chipotle.csv

### Step 4.Calculate basic statistics:

In [5]:
df.describe().show()

23/09/04 15:39:04 WARN package: Truncated the string representation of a plan since it was too large. This behavior can be adjusted by setting 'spark.sql.debug.maxToStringFields'.
23/09/04 15:39:04 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , order_id, quantity, item_name, choice_description, item_price
 Schema: _c0, order_id, quantity, item_name, choice_description, item_price
Expected: _c0 but found:
CSV file: file:///Users/anujkhadka/Fusemachines47/ALL%20SPARK/Spark_Assignment_2023/Day_1/chipotle.csv

+-------+------------------+-----------------+------------------+-----------------+--------------------+----------+
|summary|               _c0|         order_id|          quantity|        item_name|  choice_description|item_price|
+-------+------------------+-----------------+------------------+-----------------+--------------------+----------+
|  count|              4622|             4622|              4622|             4622|                3376|      4622|
|   mean|            2310.5|927.2548680225011|1.0757247944612722|             null|                null|      null|
| stddev|1334.4008018582722|528.8907955866096|0.4101863342575333|             null|                null|      null|
|    min|                 0|                1|                 1|6 Pack Soft Drink|[Adobo-Marinated ...|    $1.09 |
|    max|              4621|             1834|                15|Veggie Soft Tacos|[[Tomatillo-Red C...|    $9.39 |
+-------+------------------+-----------------+------------------+-----------------+--------------------+----------+

### Step 5. What is the number of observations in the dataset?

In [6]:
#To calculate no. of observations in the dataset

count = df.count()
print(f"Number of observation: {count}")

Number of observation: 4622

### Step 6. What is the number of columns in the dataset?

In [7]:
#To get number of columns in the dataset
print(f"Number of columns: {len(df.columns)}")

Number of columns: 6

### Step 7. Print the name of all the columns.

In [8]:

df.columns

['_c0',
 'order_id',
 'quantity',
 'item_name',
 'choice_description',
 'item_price']