## Working with Different Types of Data

### Step 1: Initialize PySpark Session

In [1]:
# Importing library to create a SparkSession

from pyspark.sql import SparkSession

# Creating a Spark session

spark = SparkSession.builder.appName("day3").getOrCreate()

23/09/03 22:39:14 WARN Utils: Your hostname, anujs-MacBook-Air.local resolves to a loopback address: 127.0.0.1; using 192.168.1.67 instead (on interface en0)
23/09/03 22:39:14 WARN Utils: Set SPARK_LOCAL_IP if you need to bind to another address
Setting default log level to "WARN".
To adjust logging level use sc.setLogLevel(newLevel). For SparkR, use setLogLevel(newLevel).
23/09/03 22:39:14 WARN NativeCodeLoader: Unable to load native-hadoop library for your platform... using builtin-java classes where applicable

### Step 2: Load the Dataset

In [7]:
# Load the Chipotle dataset into a Spark DataFrame
data_path = "/Users/anujkhadka/Fusemachines47/ALL SPARK/Assignments/Day_3/titanic.csv"  
titanic_df = spark.read.csv(data_path, header=True, inferSchema=True)

# Load the Chipotle dataset into a Spark DataFrame
data_path = '/Users/anujkhadka/Fusemachines47/ALL SPARK/Assignments/Day_3/chipotle.csv' 
chipotle_df = spark.read.csv(data_path, header=True, inferSchema=True)

# Load the Chipotle dataset into a Spark DataFrame
data_path = '/Users/anujkhadka/Fusemachines47/ALL SPARK/Assignments/Day_3/kalimati_tarkari_dataset.csv' 
kalimati_df = spark.read.csv(data_path, header=True, inferSchema=True)

In [8]:
#Displaying the schema of all three datasets

print(titanic_df.printSchema(),chipotle_df.printSchema(),kalimati_df.printSchema())

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: double (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

root
 |-- _c0: integer (nullable = true)
 |-- order_id: integer (nullable = true)
 |-- quantity: integer (nullable = true)
 |-- item_name: string (nullable = true)
 |-- choice_description: string (nullable = true)
 |-- item_price: string (nullable = true)

root
 |-- SN: integer (nullable = true)
 |-- Commodity: string (nullable = true)
 |-- Date: date (nullable = true)
 |-- Unit: string (nullable = true)
 |-- Minimum: double (nullable = true)
 |-- Maximum: double (nullable = true)
 |-- Average: double (nullable = true)

None None None

### Converting to Spark Types:

Question: Load the "titanic" dataset and convert the "Fare" column from double to integer.

In [ ]:
#Expected_Solution

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: integer (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

In [9]:
#My_Solution

#Importing the necessary library fro SQL functions

from pyspark.sql.functions import col
from pyspark.sql.types import IntegerType

In [10]:
#Converting the "Fare" column from double to integer.

new_titanic_df = titanic_df.withColumn("Fare",col("Fare").cast("integer"))
new_titanic_df.printSchema()

root
 |-- PassengerId: integer (nullable = true)
 |-- Survived: integer (nullable = true)
 |-- Pclass: integer (nullable = true)
 |-- Name: string (nullable = true)
 |-- Sex: string (nullable = true)
 |-- Age: double (nullable = true)
 |-- SibSp: integer (nullable = true)
 |-- Parch: integer (nullable = true)
 |-- Ticket: string (nullable = true)
 |-- Fare: integer (nullable = true)
 |-- Cabin: string (nullable = true)
 |-- Embarked: string (nullable = true)

### Working with Booleans:

Question: Load the "titanic" dataset and add a new column "IsAdult" that indicates whether a passenger is an adult (age >= 18) or not.

In [ ]:
#Expected_Solution

+-----------+--------------------+----+-------+
|PassengerId|                Name| Age|IsAdult|
+-----------+--------------------+----+-------+
|          1|Braund, Mr. Owen ...|22.0|   true|
|          2|Cumings, Mrs. Joh...|38.0|   true|
|          3|Heikkinen, Miss. ...|26.0|   true|
|          4|Futrelle, Mrs. Ja...|35.0|   true|
|          5|Allen, Mr. Willia...|35.0|   true|
|          6|    Moran, Mr. James|null|  false|
|          7|McCarthy, Mr. Tim...|54.0|   true|
|          8|Palsson, Master. ...| 2.0|  false|
|          9|Johnson, Mrs. Osc...|27.0|   true|
|         10|Nasser, Mrs. Nich...|14.0|  false|
|         11|Sandstrom, Miss. ...| 4.0|  false|
|         12|Bonnell, Miss. El...|58.0|   true|
|         13|Saundercock, Mr. ...|20.0|   true|
|         14|Andersson, Mr. An...|39.0|   true|
|         15|Vestrom, Miss. Hu...|14.0|  false|
|         16|Hewlett, Mrs. (Ma...|55.0|   true|
|         17|Rice, Master. Eugene| 2.0|  false|
|         18|Williams, Mr. Cha...|null|  false|
|         19|Vander Planke, Mr...|31.0|   true|
|         20|Masselmani, Mrs. ...|null|  false|
+-----------+--------------------+----+-------+
only showing top 20 rows

In [11]:
#My_Solution

#Adding a new column "IsAdult" that indicates whether a passenger is an adult (age >= 18) or not

ageFilter = col("age") > 18

filtered_titanic_df = titanic_df.withColumn("IsAdult", ageFilter)
filtered_titanic_df.select("passengerId","name","Age","IsAdult").show()

+-----------+--------------------+----+-------+
|passengerId|                name| Age|IsAdult|
+-----------+--------------------+----+-------+
|          1|Braund, Mr. Owen ...|22.0|   true|
|          2|Cumings, Mrs. Joh...|38.0|   true|
|          3|Heikkinen, Miss. ...|26.0|   true|
|          4|Futrelle, Mrs. Ja...|35.0|   true|
|          5|Allen, Mr. Willia...|35.0|   true|
|          6|    Moran, Mr. James|null|   null|
|          7|McCarthy, Mr. Tim...|54.0|   true|
|          8|Palsson, Master. ...| 2.0|  false|
|          9|Johnson, Mrs. Osc...|27.0|   true|
|         10|Nasser, Mrs. Nich...|14.0|  false|
|         11|Sandstrom, Miss. ...| 4.0|  false|
|         12|Bonnell, Miss. El...|58.0|   true|
|         13|Saundercock, Mr. ...|20.0|   true|
|         14|Andersson, Mr. An...|39.0|   true|
|         15|Vestrom, Miss. Hu...|14.0|  false|
|         16|Hewlett, Mrs. (Ma...|55.0|   true|
|         17|Rice, Master. Eugene| 2.0|  false|
|         18|Williams, Mr. Cha...|null|   null|
|         19|Vander Planke, Mr...|31.0|   true|
|         20|Masselmani, Mrs. ...|null|   null|
+-----------+--------------------+----+-------+
only showing top 20 rows

### Working with Numbers:

Question: Load the "titanic" dataset and calculate the average age of male and female passengers separately.

In [ ]:
#Expected_Solution

+------+------------------+
|   Sex|            AvgAge|
+------+------------------+
|female|27.915708812260537|
|  male| 30.72664459161148|
+------+------------------+

In [12]:
#My_Solution

#Calculating the average age of male and female passengers separately.

titanic_df.groupBy("sex").avg("age").withColumnRenamed("avg(age)","Average_age").show()

+------+------------------+
|   sex|       Average_age|
+------+------------------+
|female|27.915708812260537|
|  male| 30.72664459161148|
+------+------------------+

### Working with Strings:

Question: Load the "chipotle" dataset and find the item names containing the word "Chicken."

In [ ]:
#Expected_Solution

+---+--------+--------+--------------------+--------------------+----------+
|_c0|order_id|quantity|           item_name|  choice_description|item_price|
+---+--------+--------+--------------------+--------------------+----------+
|  4|       2|       2|        Chicken Bowl|[Tomatillo-Red Ch...|   $16.98 |
|  5|       3|       1|        Chicken Bowl|[Fresh Tomato Sal...|   $10.98 |
| 11|       6|       1|Chicken Crispy Tacos|[Roasted Chili Co...|    $8.75 |
| 12|       6|       1|  Chicken Soft Tacos|[Roasted Chili Co...|    $8.75 |
| 13|       7|       1|        Chicken Bowl|[Fresh Tomato Sal...|   $11.25 |
| 16|       8|       1|     Chicken Burrito|[Tomatillo-Green ...|    $8.49 |
| 17|       9|       1|     Chicken Burrito|[Fresh Tomato Sal...|    $8.49 |
| 19|      10|       1|        Chicken Bowl|[Tomatillo Red Ch...|    $8.75 |
| 23|      12|       1|     Chicken Burrito|[[Tomatillo-Green...|   $10.98 |
| 26|      13|       1|        Chicken Bowl|[Roasted Chili Co...|    $8.49 |
| 29|      15|       1|     Chicken Burrito|[Tomatillo-Green ...|    $8.49 |
| 35|      18|       1|  Chicken Soft Tacos|[Roasted Chili Co...|    $8.75 |
| 36|      18|       1|  Chicken Soft Tacos|[Roasted Chili Co...|    $8.75 |
| 42|      20|       1|        Chicken Bowl|[Roasted Chili Co...|   $11.25 |
| 44|      20|       1|  Chicken Salad Bowl|[Fresh Tomato Sal...|    $8.75 |
| 45|      21|       1|     Chicken Burrito|[Tomatillo-Red Ch...|   $10.98 |
| 52|      24|       1|     Chicken Burrito|[Roasted Chili Co...|   $10.98 |
| 63|      28|       1|     Chicken Burrito|[Fresh Tomato Sal...|    $8.75 |
| 68|      30|       1|     Chicken Burrito|[Tomatillo-Red Ch...|   $10.98 |
| 73|      33|       1|     Chicken Burrito|[Tomatillo Red Ch...|    $8.75 |
+---+--------+--------+--------------------+--------------------+----------+
only showing top 20 rows

23/08/21 17:33:29 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , order_id, quantity, item_name, choice_description, item_price
 Schema: _c0, order_id, quantity, item_name, choice_description, item_price
Expected: _c0 but found:
CSV file: file:///home/fm-pc-lt-321/Desktop/fuse/pyspark/assignments/trainee%20exercises/data/chipotle.csv

In [13]:
#My_Solution

#Importing the necessary library for SQL Function

from pyspark.sql.functions import instr

In [14]:
# Calculating the item names containing the word "Chicken.

chickenFilter = instr(col("item_name"),"Chicken") >=1
chipotle_df.withColumn("chickenFilter",chickenFilter).where("chickenFilter").show()

+---+--------+--------+--------------------+--------------------+----------+-------------+
|_c0|order_id|quantity|           item_name|  choice_description|item_price|chickenFilter|
+---+--------+--------+--------------------+--------------------+----------+-------------+
|  4|       2|       2|        Chicken Bowl|[Tomatillo-Red Ch...|   $16.98 |         true|
|  5|       3|       1|        Chicken Bowl|[Fresh Tomato Sal...|   $10.98 |         true|
| 11|       6|       1|Chicken Crispy Tacos|[Roasted Chili Co...|    $8.75 |         true|
| 12|       6|       1|  Chicken Soft Tacos|[Roasted Chili Co...|    $8.75 |         true|
| 13|       7|       1|        Chicken Bowl|[Fresh Tomato Sal...|   $11.25 |         true|
| 16|       8|       1|     Chicken Burrito|[Tomatillo-Green ...|    $8.49 |         true|
| 17|       9|       1|     Chicken Burrito|[Fresh Tomato Sal...|    $8.49 |         true|
| 19|      10|       1|        Chicken Bowl|[Tomatillo Red Ch...|    $8.75 |         true|
| 23|      12|       1|     Chicken Burrito|[[Tomatillo-Green...|   $10.98 |         true|
| 26|      13|       1|        Chicken Bowl|[Roasted Chili Co...|    $8.49 |         true|
| 29|      15|       1|     Chicken Burrito|[Tomatillo-Green ...|    $8.49 |         true|
| 35|      18|       1|  Chicken Soft Tacos|[Roasted Chili Co...|    $8.75 |         true|
| 36|      18|       1|  Chicken Soft Tacos|[Roasted Chili Co...|    $8.75 |         true|
| 42|      20|       1|        Chicken Bowl|[Roasted Chili Co...|   $11.25 |         true|
| 44|      20|       1|  Chicken Salad Bowl|[Fresh Tomato Sal...|    $8.75 |         true|
| 45|      21|       1|     Chicken Burrito|[Tomatillo-Red Ch...|   $10.98 |         true|
| 52|      24|       1|     Chicken Burrito|[Roasted Chili Co...|   $10.98 |         true|
| 63|      28|       1|     Chicken Burrito|[Fresh Tomato Sal...|    $8.75 |         true|
| 68|      30|       1|     Chicken Burrito|[Tomatillo-Red Ch...|   $10.98 |         true|
| 73|      33|       1|     Chicken Burrito|[Tomatillo Red Ch...|    $8.75 |         true|
+---+--------+--------+--------------------+--------------------+----------+-------------+
only showing top 20 rows

23/09/03 22:56:56 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , order_id, quantity, item_name, choice_description, item_price
 Schema: _c0, order_id, quantity, item_name, choice_description, item_price
Expected: _c0 but found:
CSV file: file:///Users/anujkhadka/Fusemachines47/ALL%20SPARK/Assignments/Day_3/chipotle.csv

### Regular Expressions:

Question: Load the "chipotle" dataset and find the items with names that start with "Ch" followed by any character.

In [ ]:
#Expected_Solution

+---+--------+--------+--------------------+--------------------+----------+
|_c0|order_id|quantity|           item_name|  choice_description|item_price|
+---+--------+--------+--------------------+--------------------+----------+
|  0|       1|       1|Chips and Fresh T...|                null|    $2.39 |
|  3|       1|       1|Chips and Tomatil...|                null|    $2.39 |
|  4|       2|       2|        Chicken Bowl|[Tomatillo-Red Ch...|   $16.98 |
|  5|       3|       1|        Chicken Bowl|[Fresh Tomato Sal...|   $10.98 |
| 10|       5|       1| Chips and Guacamole|                null|    $4.45 |
| 11|       6|       1|Chicken Crispy Tacos|[Roasted Chili Co...|    $8.75 |
| 12|       6|       1|  Chicken Soft Tacos|[Roasted Chili Co...|    $8.75 |
| 13|       7|       1|        Chicken Bowl|[Fresh Tomato Sal...|   $11.25 |
| 14|       7|       1| Chips and Guacamole|                null|    $4.45 |
| 15|       8|       1|Chips and Tomatil...|                null|    $2.39 |
| 16|       8|       1|     Chicken Burrito|[Tomatillo-Green ...|    $8.49 |
| 17|       9|       1|     Chicken Burrito|[Fresh Tomato Sal...|    $8.49 |
| 19|      10|       1|        Chicken Bowl|[Tomatillo Red Ch...|    $8.75 |
| 20|      10|       1| Chips and Guacamole|                null|    $4.45 |
| 23|      12|       1|     Chicken Burrito|[[Tomatillo-Green...|   $10.98 |
| 25|      13|       1|Chips and Fresh T...|                null|    $2.39 |
| 26|      13|       1|        Chicken Bowl|[Roasted Chili Co...|    $8.49 |
| 29|      15|       1|     Chicken Burrito|[Tomatillo-Green ...|    $8.49 |
| 30|      15|       1|Chips and Tomatil...|                null|    $2.39 |
| 35|      18|       1|  Chicken Soft Tacos|[Roasted Chili Co...|    $8.75 |
+---+--------+--------+--------------------+--------------------+----------+
only showing top 20 rows

23/08/21 17:35:40 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , order_id, quantity, item_name, choice_description, item_price
 Schema: _c0, order_id, quantity, item_name, choice_description, item_price
Expected: _c0 but found:
CSV file: file:///home/fm-pc-lt-321/Desktop/fuse/pyspark/assignments/trainee%20exercises/data/chipotle.csv

In [15]:
#My_Solution

#Finding the items with names that start with "Ch" followed by any character

# Use a filter with a regular expression to select rows where "item_name" starts with "Ch" followed by any character
filtered_df = chipotle_df.filter(chipotle_df["item_name"].rlike("^Ch."))

# Show the filtered DataFrame
filtered_df.show()

+---+--------+--------+--------------------+--------------------+----------+
|_c0|order_id|quantity|           item_name|  choice_description|item_price|
+---+--------+--------+--------------------+--------------------+----------+
|  0|       1|       1|Chips and Fresh T...|                null|    $2.39 |
|  3|       1|       1|Chips and Tomatil...|                null|    $2.39 |
|  4|       2|       2|        Chicken Bowl|[Tomatillo-Red Ch...|   $16.98 |
|  5|       3|       1|        Chicken Bowl|[Fresh Tomato Sal...|   $10.98 |
| 10|       5|       1| Chips and Guacamole|                null|    $4.45 |
| 11|       6|       1|Chicken Crispy Tacos|[Roasted Chili Co...|    $8.75 |
| 12|       6|       1|  Chicken Soft Tacos|[Roasted Chili Co...|    $8.75 |
| 13|       7|       1|        Chicken Bowl|[Fresh Tomato Sal...|   $11.25 |
| 14|       7|       1| Chips and Guacamole|                null|    $4.45 |
| 15|       8|       1|Chips and Tomatil...|                null|    $2.39 |
| 16|       8|       1|     Chicken Burrito|[Tomatillo-Green ...|    $8.49 |
| 17|       9|       1|     Chicken Burrito|[Fresh Tomato Sal...|    $8.49 |
| 19|      10|       1|        Chicken Bowl|[Tomatillo Red Ch...|    $8.75 |
| 20|      10|       1| Chips and Guacamole|                null|    $4.45 |
| 23|      12|       1|     Chicken Burrito|[[Tomatillo-Green...|   $10.98 |
| 25|      13|       1|Chips and Fresh T...|                null|    $2.39 |
| 26|      13|       1|        Chicken Bowl|[Roasted Chili Co...|    $8.49 |
| 29|      15|       1|     Chicken Burrito|[Tomatillo-Green ...|    $8.49 |
| 30|      15|       1|Chips and Tomatil...|                null|    $2.39 |
| 35|      18|       1|  Chicken Soft Tacos|[Roasted Chili Co...|    $8.75 |
+---+--------+--------+--------------------+--------------------+----------+
only showing top 20 rows

23/09/03 22:59:19 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , order_id, quantity, item_name, choice_description, item_price
 Schema: _c0, order_id, quantity, item_name, choice_description, item_price
Expected: _c0 but found:
CSV file: file:///Users/anujkhadka/Fusemachines47/ALL%20SPARK/Assignments/Day_3/chipotle.csv

### Working with Nulls in Data:

Question: Load the "titanic" dataset and count the number of passengers with missing age information.

In [ ]:
#Expected_Solution

Number of passengers with missing age: 177

In [16]:
#My_Solution

# Counting the number of passengers with missing age information

countOfNull = titanic_df.filter(col("age").isNull()).count()
print(f"Number of null values in age column: {countOfNull}")

Number of null values in age column: 177

### Coalesce
Question: Utilizing the Chipotle dataset, use the coalesce function to combine the "item_name" and "choice_description" columns into a new column named "OrderDetails." Display the first 5 rows of the resulting DataFrame.

In [ ]:
#Expected_Solution

+---+--------+--------+--------------------+--------------------+----------+--------------------+
|_c0|order_id|quantity|           item_name|  choice_description|item_price|        OrderDetails|
+---+--------+--------+--------------------+--------------------+----------+--------------------+
|  0|       1|       1|Chips and Fresh T...|                null|    $2.39 |Chips and Fresh T...|
|  1|       1|       1|                Izze|        [Clementine]|    $3.39 |                Izze|
|  2|       1|       1|    Nantucket Nectar|             [Apple]|    $3.39 |    Nantucket Nectar|
|  3|       1|       1|Chips and Tomatil...|                null|    $2.39 |Chips and Tomatil...|
|  4|       2|       2|        Chicken Bowl|[Tomatillo-Red Ch...|   $16.98 |        Chicken Bowl|
+---+--------+--------+--------------------+--------------------+----------+--------------------+
only showing top 5 rows

23/08/21 17:51:49 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , order_id, quantity, item_name, choice_description, item_price
 Schema: _c0, order_id, quantity, item_name, choice_description, item_price
Expected: _c0 but found:
CSV file: file:///home/fm-pc-lt-321/Desktop/fuse/pyspark/assignments/trainee%20exercises/data/chipotle.csv

In [17]:
#My_Solution

#Importing necessary library for SQL function "coalesce"

from pyspark.sql.functions import coalesce

In [18]:
# Using the coalesce function to combine the "item_name" and "choice_description" columns into a new column named "OrderDetails

chipotle_df.withColumn("OrderDetails",coalesce(col("item_name"),col("choice_description"))).show(5)

+---+--------+--------+--------------------+--------------------+----------+--------------------+
|_c0|order_id|quantity|           item_name|  choice_description|item_price|        OrderDetails|
+---+--------+--------+--------------------+--------------------+----------+--------------------+
|  0|       1|       1|Chips and Fresh T...|                null|    $2.39 |Chips and Fresh T...|
|  1|       1|       1|                Izze|        [Clementine]|    $3.39 |                Izze|
|  2|       1|       1|    Nantucket Nectar|             [Apple]|    $3.39 |    Nantucket Nectar|
|  3|       1|       1|Chips and Tomatil...|                null|    $2.39 |Chips and Tomatil...|
|  4|       2|       2|        Chicken Bowl|[Tomatillo-Red Ch...|   $16.98 |        Chicken Bowl|
+---+--------+--------+--------------------+--------------------+----------+--------------------+
only showing top 5 rows

23/09/03 23:06:05 WARN CSVHeaderChecker: CSV header does not conform to the schema.
 Header: , order_id, quantity, item_name, choice_description, item_price
 Schema: _c0, order_id, quantity, item_name, choice_description, item_price
Expected: _c0 but found:
CSV file: file:///Users/anujkhadka/Fusemachines47/ALL%20SPARK/Assignments/Day_3/chipotle.csv

### ifnull, nullIf, nvl, and nvl2

Question: Replace the null values in the "Age" column of the Titanic dataset with the average age.

In [ ]:
#Expected_Solution

+-----------+--------+------+--------------------+------+-----------------+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|              Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+-----------------+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|             22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|             38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|             26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|             35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|             35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|29.69911764705882|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|             54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|              2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|             27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|             14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|              4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|             58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|             20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|             39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|             14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|             55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|              2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|29.69911764705882|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|             31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|29.69911764705882|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+-----------------+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [20]:
#My_Solution

# Replacing the null values in the "Age" column of the Titanic dataset with the average age

average_age = titanic_df.agg({'Age':'avg'}).collect()[0][0]
average_filled = titanic_df.na.fill(average_age,subset=["age"])
average_filled.show()

+-----------+--------+------+--------------------+------+-----------------+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex|              Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+-----------------+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|             22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|             38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|             26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|             35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|             35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|29.69911764705882|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|             54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male|              2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|             27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|             14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female|              4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|             58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|             20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|             39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|             14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|             55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male|              2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|29.69911764705882|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|             31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|29.69911764705882|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+-----------------+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

### drop

Question: Remove the "Cabin" column from the Titanic dataset.

In [ ]:
#Expected_Solution

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+
only showing top 20 rows

In [21]:
#My_Solution

#Removing the "Cabin" column from the Titanic dataset

titanic_df.drop(col("cabin")).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05|       S|
|          6|       0|     3|    Moran, Mr. James|  male|null|    0|    0|          330877| 8.4583|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|null|    0|    0|          244373|   13.0|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|null|    0|    0|            2649|  7.225|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+--------+
only showing top 20 rows

### fill

Question: Fill the null values in the "Age" column of the Titanic dataset with a default age of 30.

In [ ]:
#Expected_Solution

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|30.0|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|30.0|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|30.0|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [22]:
#My_Solution

#Filling the null values in the "Age" column of the Titanic dataset with a default age of 30

titanic_df.na.fill(30,subset=["age"]).show()

+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|   Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  male|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|female|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|female|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|female|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  male|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  male|30.0|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  male|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  male| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|female|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|female|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|female| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|female|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  male|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  male|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|female|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|female|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  male| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  male|30.0|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|female|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|female|30.0|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+------+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

###  replace

Question: Replace the gender "male" with "M" and "female" with "F" in the "Sex" column of the Titanic dataset.

In [ ]:
#Expected_Solution

+-----------+--------+------+--------------------+---+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+---+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  M|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|  F|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|  F|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|  F|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  M|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  M|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  M|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  M| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|  F|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|  F|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|  F| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|  F|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  M|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  M|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|  F|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|  F|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  M| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  M|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|  F|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|  F|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+---+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

In [23]:
#My_Solution

#Replacing the gender "male" with "M" and "female" with "F" in the "Sex" column of the Titanic dataset

titanic_df.replace({"male":"m","female":"f"},"sex").show()

/opt/homebrew/lib/python3.11/site-packages/pyspark/sql/dataframe.py:4317: UserWarning: to_replace is a dict and value is not None. value will be ignored.
  warnings.warn("to_replace is a dict and value is not None. value will be ignored.")

+-----------+--------+------+--------------------+---+----+-----+-----+----------------+-------+-----+--------+
|PassengerId|Survived|Pclass|                Name|Sex| Age|SibSp|Parch|          Ticket|   Fare|Cabin|Embarked|
+-----------+--------+------+--------------------+---+----+-----+-----+----------------+-------+-----+--------+
|          1|       0|     3|Braund, Mr. Owen ...|  m|22.0|    1|    0|       A/5 21171|   7.25| null|       S|
|          2|       1|     1|Cumings, Mrs. Joh...|  f|38.0|    1|    0|        PC 17599|71.2833|  C85|       C|
|          3|       1|     3|Heikkinen, Miss. ...|  f|26.0|    0|    0|STON/O2. 3101282|  7.925| null|       S|
|          4|       1|     1|Futrelle, Mrs. Ja...|  f|35.0|    1|    0|          113803|   53.1| C123|       S|
|          5|       0|     3|Allen, Mr. Willia...|  m|35.0|    0|    0|          373450|   8.05| null|       S|
|          6|       0|     3|    Moran, Mr. James|  m|null|    0|    0|          330877| 8.4583| null|       Q|
|          7|       0|     1|McCarthy, Mr. Tim...|  m|54.0|    0|    0|           17463|51.8625|  E46|       S|
|          8|       0|     3|Palsson, Master. ...|  m| 2.0|    3|    1|          349909| 21.075| null|       S|
|          9|       1|     3|Johnson, Mrs. Osc...|  f|27.0|    0|    2|          347742|11.1333| null|       S|
|         10|       1|     2|Nasser, Mrs. Nich...|  f|14.0|    1|    0|          237736|30.0708| null|       C|
|         11|       1|     3|Sandstrom, Miss. ...|  f| 4.0|    1|    1|         PP 9549|   16.7|   G6|       S|
|         12|       1|     1|Bonnell, Miss. El...|  f|58.0|    0|    0|          113783|  26.55| C103|       S|
|         13|       0|     3|Saundercock, Mr. ...|  m|20.0|    0|    0|       A/5. 2151|   8.05| null|       S|
|         14|       0|     3|Andersson, Mr. An...|  m|39.0|    1|    5|          347082| 31.275| null|       S|
|         15|       0|     3|Vestrom, Miss. Hu...|  f|14.0|    0|    0|          350406| 7.8542| null|       S|
|         16|       1|     2|Hewlett, Mrs. (Ma...|  f|55.0|    0|    0|          248706|   16.0| null|       S|
|         17|       0|     3|Rice, Master. Eugene|  m| 2.0|    4|    1|          382652| 29.125| null|       Q|
|         18|       1|     2|Williams, Mr. Cha...|  m|null|    0|    0|          244373|   13.0| null|       S|
|         19|       0|     3|Vander Planke, Mr...|  f|31.0|    1|    0|          345763|   18.0| null|       S|
|         20|       1|     3|Masselmani, Mrs. ...|  f|null|    0|    0|            2649|  7.225| null|       C|
+-----------+--------+------+--------------------+---+----+-----+-----+----------------+-------+-----+--------+
only showing top 20 rows

### 6. Working with Complex Types: Structs

Question: Create a new DataFrame from the Kalimati Tarkari dataset, including a new column "PriceRange" that is a struct containing "Minimum" and "Maximum" prices for each commodity.

In [ ]:
#Expected_Solution

+---+--------------------+----------+----+-------+-------+-------+------------+
|SN |Commodity           |Date      |Unit|Minimum|Maximum|Average|PriceRange  |
+---+--------------------+----------+----+-------+-------+-------+------------+
|0  |Tomato Big(Nepali)  |2013-06-16|Kg  |35.0   |40.0   |37.5   |{35.0, 40.0}|
|1  |Tomato Small(Local) |2013-06-16|Kg  |26.0   |32.0   |29.0   |{26.0, 32.0}|
|2  |Potato Red          |2013-06-16|Kg  |20.0   |21.0   |20.5   |{20.0, 21.0}|
|3  |Potato White        |2013-06-16|Kg  |15.0   |16.0   |15.5   |{15.0, 16.0}|
|4  |Onion Dry (Indian)  |2013-06-16|Kg  |28.0   |30.0   |29.0   |{28.0, 30.0}|
|5  |Carrot(Local)       |2013-06-16|Kg  |30.0   |35.0   |32.5   |{30.0, 35.0}|
|6  |Cabbage(Local)      |2013-06-16|Kg  |6.0    |10.0   |8.0    |{6.0, 10.0} |
|7  |Cauli Local         |2013-06-16|Kg  |30.0   |35.0   |32.5   |{30.0, 35.0}|
|8  |Raddish Red         |2013-06-16|Kg  |35.0   |40.0   |37.5   |{35.0, 40.0}|
|9  |Raddish White(Local)|2013-06-16|Kg  |25.0   |30.0   |27.5   |{25.0, 30.0}|
|10 |Brinjal Long        |2013-06-16|Kg  |16.0   |18.0   |17.0   |{16.0, 18.0}|
|11 |Brinjal Round       |2013-06-16|Kg  |20.0   |22.0   |21.0   |{20.0, 22.0}|
|12 |Cow pea(Long)       |2013-06-16|Kg  |20.0   |25.0   |22.5   |{20.0, 25.0}|
|13 |Green Peas          |2013-06-16|Kg  |55.0   |60.0   |57.5   |{55.0, 60.0}|
|14 |French Bean(Local)  |2013-06-16|Kg  |25.0   |30.0   |27.5   |{25.0, 30.0}|
|15 |Soyabean Green      |2013-06-16|Kg  |60.0   |70.0   |65.0   |{60.0, 70.0}|
|16 |Bitter Gourd        |2013-06-16|Kg  |14.0   |16.0   |15.0   |{14.0, 16.0}|
|17 |Bottle Gourd        |2013-06-16|Kg  |15.0   |20.0   |17.5   |{15.0, 20.0}|
|18 |Pointed Gourd(Local)|2013-06-16|Kg  |30.0   |35.0   |32.5   |{30.0, 35.0}|
|19 |Snake Gourd         |2013-06-16|Kg  |25.0   |30.0   |27.5   |{25.0, 30.0}|
+---+--------------------+----------+----+-------+-------+-------+------------+
only showing top 20 rows

In [24]:
#My_Solution

# Creating a new DataFrame from the Kalimati Tarkari dataset, 
# including a new column "PriceRange" that is a struct containing "Minimum" and "Maximum" prices for each commodity.

compledKalimatiDf = kalimati_df.selectExpr("*","struct(Minimum,Maximum) as PriceRange")
compledKalimatiDf.show()

+---+--------------------+----------+----+-------+-------+-------+------------+
| SN|           Commodity|      Date|Unit|Minimum|Maximum|Average|  PriceRange|
+---+--------------------+----------+----+-------+-------+-------+------------+
|  0|  Tomato Big(Nepali)|2013-06-16|  Kg|   35.0|   40.0|   37.5|{35.0, 40.0}|
|  1| Tomato Small(Local)|2013-06-16|  Kg|   26.0|   32.0|   29.0|{26.0, 32.0}|
|  2|          Potato Red|2013-06-16|  Kg|   20.0|   21.0|   20.5|{20.0, 21.0}|
|  3|        Potato White|2013-06-16|  Kg|   15.0|   16.0|   15.5|{15.0, 16.0}|
|  4|  Onion Dry (Indian)|2013-06-16|  Kg|   28.0|   30.0|   29.0|{28.0, 30.0}|
|  5|       Carrot(Local)|2013-06-16|  Kg|   30.0|   35.0|   32.5|{30.0, 35.0}|
|  6|      Cabbage(Local)|2013-06-16|  Kg|    6.0|   10.0|    8.0| {6.0, 10.0}|
|  7|         Cauli Local|2013-06-16|  Kg|   30.0|   35.0|   32.5|{30.0, 35.0}|
|  8|         Raddish Red|2013-06-16|  Kg|   35.0|   40.0|   37.5|{35.0, 40.0}|
|  9|Raddish White(Local)|2013-06-16|  Kg|   25.0|   30.0|   27.5|{25.0, 30.0}|
| 10|        Brinjal Long|2013-06-16|  Kg|   16.0|   18.0|   17.0|{16.0, 18.0}|
| 11|       Brinjal Round|2013-06-16|  Kg|   20.0|   22.0|   21.0|{20.0, 22.0}|
| 12|       Cow pea(Long)|2013-06-16|  Kg|   20.0|   25.0|   22.5|{20.0, 25.0}|
| 13|          Green Peas|2013-06-16|  Kg|   55.0|   60.0|   57.5|{55.0, 60.0}|
| 14|  French Bean(Local)|2013-06-16|  Kg|   25.0|   30.0|   27.5|{25.0, 30.0}|
| 15|      Soyabean Green|2013-06-16|  Kg|   60.0|   70.0|   65.0|{60.0, 70.0}|
| 16|        Bitter Gourd|2013-06-16|  Kg|   14.0|   16.0|   15.0|{14.0, 16.0}|
| 17|        Bottle Gourd|2013-06-16|  Kg|   15.0|   20.0|   17.5|{15.0, 20.0}|
| 18|Pointed Gourd(Local)|2013-06-16|  Kg|   30.0|   35.0|   32.5|{30.0, 35.0}|
| 19|         Snake Gourd|2013-06-16|  Kg|   25.0|   30.0|   27.5|{25.0, 30.0}|
+---+--------------------+----------+----+-------+-------+-------+------------+
only showing top 20 rows

### Working with Complex Types: Arrays
Question: Create a new DataFrame from the Kalimati Tarkari dataset, including a new column "CommodityList" that is an array of all the commodities.

In [ ]:
#Expected_Solution

+---+--------------------+----------+----+-------+-------+-------+----------------------+
|SN |Commodity           |Date      |Unit|Minimum|Maximum|Average|CommodityList         |
+---+--------------------+----------+----+-------+-------+-------+----------------------+
|0  |Tomato Big(Nepali)  |2013-06-16|Kg  |35.0   |40.0   |37.5   |[Tomato Big(Nepali)]  |
|1  |Tomato Small(Local) |2013-06-16|Kg  |26.0   |32.0   |29.0   |[Tomato Small(Local)] |
|2  |Potato Red          |2013-06-16|Kg  |20.0   |21.0   |20.5   |[Potato Red]          |
|3  |Potato White        |2013-06-16|Kg  |15.0   |16.0   |15.5   |[Potato White]        |
|4  |Onion Dry (Indian)  |2013-06-16|Kg  |28.0   |30.0   |29.0   |[Onion Dry (Indian)]  |
|5  |Carrot(Local)       |2013-06-16|Kg  |30.0   |35.0   |32.5   |[Carrot(Local)]       |
|6  |Cabbage(Local)      |2013-06-16|Kg  |6.0    |10.0   |8.0    |[Cabbage(Local)]      |
|7  |Cauli Local         |2013-06-16|Kg  |30.0   |35.0   |32.5   |[Cauli Local]         |
|8  |Raddish Red         |2013-06-16|Kg  |35.0   |40.0   |37.5   |[Raddish Red]         |
|9  |Raddish White(Local)|2013-06-16|Kg  |25.0   |30.0   |27.5   |[Raddish White(Local)]|
|10 |Brinjal Long        |2013-06-16|Kg  |16.0   |18.0   |17.0   |[Brinjal Long]        |
|11 |Brinjal Round       |2013-06-16|Kg  |20.0   |22.0   |21.0   |[Brinjal Round]       |
|12 |Cow pea(Long)       |2013-06-16|Kg  |20.0   |25.0   |22.5   |[Cow pea(Long)]       |
|13 |Green Peas          |2013-06-16|Kg  |55.0   |60.0   |57.5   |[Green Peas]          |
|14 |French Bean(Local)  |2013-06-16|Kg  |25.0   |30.0   |27.5   |[French Bean(Local)]  |
|15 |Soyabean Green      |2013-06-16|Kg  |60.0   |70.0   |65.0   |[Soyabean Green]      |
|16 |Bitter Gourd        |2013-06-16|Kg  |14.0   |16.0   |15.0   |[Bitter Gourd]        |
|17 |Bottle Gourd        |2013-06-16|Kg  |15.0   |20.0   |17.5   |[Bottle Gourd]        |
|18 |Pointed Gourd(Local)|2013-06-16|Kg  |30.0   |35.0   |32.5   |[Pointed Gourd(Local)]|
|19 |Snake Gourd         |2013-06-16|Kg  |25.0   |30.0   |27.5   |[Snake Gourd]         |
+---+--------------------+----------+----+-------+-------+-------+----------------------+
only showing top 20 rows

In [25]:
#My_Solution

#Creating a new DataFrame from the Kalimati Tarkari dataset, 
# including a new column "CommodityList" that is an array of all the commodities

ArrayComplex = kalimati_df.selectExpr("*","array(Commodity) as CommodityList")
ArrayComplex.show()

+---+--------------------+----------+----+-------+-------+-------+--------------------+
| SN|           Commodity|      Date|Unit|Minimum|Maximum|Average|       CommodityList|
+---+--------------------+----------+----+-------+-------+-------+--------------------+
|  0|  Tomato Big(Nepali)|2013-06-16|  Kg|   35.0|   40.0|   37.5|[Tomato Big(Nepali)]|
|  1| Tomato Small(Local)|2013-06-16|  Kg|   26.0|   32.0|   29.0|[Tomato Small(Loc...|
|  2|          Potato Red|2013-06-16|  Kg|   20.0|   21.0|   20.5|        [Potato Red]|
|  3|        Potato White|2013-06-16|  Kg|   15.0|   16.0|   15.5|      [Potato White]|
|  4|  Onion Dry (Indian)|2013-06-16|  Kg|   28.0|   30.0|   29.0|[Onion Dry (Indian)]|
|  5|       Carrot(Local)|2013-06-16|  Kg|   30.0|   35.0|   32.5|     [Carrot(Local)]|
|  6|      Cabbage(Local)|2013-06-16|  Kg|    6.0|   10.0|    8.0|    [Cabbage(Local)]|
|  7|         Cauli Local|2013-06-16|  Kg|   30.0|   35.0|   32.5|       [Cauli Local]|
|  8|         Raddish Red|2013-06-16|  Kg|   35.0|   40.0|   37.5|       [Raddish Red]|
|  9|Raddish White(Local)|2013-06-16|  Kg|   25.0|   30.0|   27.5|[Raddish White(Lo...|
| 10|        Brinjal Long|2013-06-16|  Kg|   16.0|   18.0|   17.0|      [Brinjal Long]|
| 11|       Brinjal Round|2013-06-16|  Kg|   20.0|   22.0|   21.0|     [Brinjal Round]|
| 12|       Cow pea(Long)|2013-06-16|  Kg|   20.0|   25.0|   22.5|     [Cow pea(Long)]|
| 13|          Green Peas|2013-06-16|  Kg|   55.0|   60.0|   57.5|        [Green Peas]|
| 14|  French Bean(Local)|2013-06-16|  Kg|   25.0|   30.0|   27.5|[French Bean(Local)]|
| 15|      Soyabean Green|2013-06-16|  Kg|   60.0|   70.0|   65.0|    [Soyabean Green]|
| 16|        Bitter Gourd|2013-06-16|  Kg|   14.0|   16.0|   15.0|      [Bitter Gourd]|
| 17|        Bottle Gourd|2013-06-16|  Kg|   15.0|   20.0|   17.5|      [Bottle Gourd]|
| 18|Pointed Gourd(Local)|2013-06-16|  Kg|   30.0|   35.0|   32.5|[Pointed Gourd(Lo...|
| 19|         Snake Gourd|2013-06-16|  Kg|   25.0|   30.0|   27.5|       [Snake Gourd]|
+---+--------------------+----------+----+-------+-------+-------+--------------------+
only showing top 20 rows

### Working with Complex Types: explode

Question: Explode the "CommodityList" array column from the previous step to generate a new row for each commodity in the list.

In [ ]:
#Solution_to_be_Exploded

+---+----------+----+-------+-------+-------+--------------------+
|SN |Date      |Unit|Minimum|Maximum|Average|Commodity           |
+---+----------+----+-------+-------+-------+--------------------+
|0  |2013-06-16|Kg  |35.0   |40.0   |37.5   |Tomato Big(Nepali)  |
|1  |2013-06-16|Kg  |26.0   |32.0   |29.0   |Tomato Small(Local) |
|2  |2013-06-16|Kg  |20.0   |21.0   |20.5   |Potato Red          |
|3  |2013-06-16|Kg  |15.0   |16.0   |15.5   |Potato White        |
|4  |2013-06-16|Kg  |28.0   |30.0   |29.0   |Onion Dry (Indian)  |
|5  |2013-06-16|Kg  |30.0   |35.0   |32.5   |Carrot(Local)       |
|6  |2013-06-16|Kg  |6.0    |10.0   |8.0    |Cabbage(Local)      |
|7  |2013-06-16|Kg  |30.0   |35.0   |32.5   |Cauli Local         |
|8  |2013-06-16|Kg  |35.0   |40.0   |37.5   |Raddish Red         |
|9  |2013-06-16|Kg  |25.0   |30.0   |27.5   |Raddish White(Local)|
|10 |2013-06-16|Kg  |16.0   |18.0   |17.0   |Brinjal Long        |
|11 |2013-06-16|Kg  |20.0   |22.0   |21.0   |Brinjal Round       |
|12 |2013-06-16|Kg  |20.0   |25.0   |22.5   |Cow pea(Long)       |
|13 |2013-06-16|Kg  |55.0   |60.0   |57.5   |Green Peas          |
|14 |2013-06-16|Kg  |25.0   |30.0   |27.5   |French Bean(Local)  |
|15 |2013-06-16|Kg  |60.0   |70.0   |65.0   |Soyabean Green      |
|16 |2013-06-16|Kg  |14.0   |16.0   |15.0   |Bitter Gourd        |
|17 |2013-06-16|Kg  |15.0   |20.0   |17.5   |Bottle Gourd        |
|18 |2013-06-16|Kg  |30.0   |35.0   |32.5   |Pointed Gourd(Local)|
|19 |2013-06-16|Kg  |25.0   |30.0   |27.5   |Snake Gourd         |
+---+----------+----+-------+-------+-------+--------------------+
only showing top 20 rows

In [26]:
#My_Solution

#Importing necessary library for SQL Function "explode"

from pyspark.sql.functions import explode

In [28]:
#Explode the "CommodityList" array column from the previous step to generate a new row for each commodity in the list

#Exploded Solution

ArrayComplex.withColumn("exploded",explode("CommodityList")).show(20)

+---+--------------------+----------+----+-------+-------+-------+--------------------+--------------------+
| SN|           Commodity|      Date|Unit|Minimum|Maximum|Average|       CommodityList|            exploded|
+---+--------------------+----------+----+-------+-------+-------+--------------------+--------------------+
|  0|  Tomato Big(Nepali)|2013-06-16|  Kg|   35.0|   40.0|   37.5|[Tomato Big(Nepali)]|  Tomato Big(Nepali)|
|  1| Tomato Small(Local)|2013-06-16|  Kg|   26.0|   32.0|   29.0|[Tomato Small(Loc...| Tomato Small(Local)|
|  2|          Potato Red|2013-06-16|  Kg|   20.0|   21.0|   20.5|        [Potato Red]|          Potato Red|
|  3|        Potato White|2013-06-16|  Kg|   15.0|   16.0|   15.5|      [Potato White]|        Potato White|
|  4|  Onion Dry (Indian)|2013-06-16|  Kg|   28.0|   30.0|   29.0|[Onion Dry (Indian)]|  Onion Dry (Indian)|
|  5|       Carrot(Local)|2013-06-16|  Kg|   30.0|   35.0|   32.5|     [Carrot(Local)]|       Carrot(Local)|
|  6|      Cabbage(Local)|2013-06-16|  Kg|    6.0|   10.0|    8.0|    [Cabbage(Local)]|      Cabbage(Local)|
|  7|         Cauli Local|2013-06-16|  Kg|   30.0|   35.0|   32.5|       [Cauli Local]|         Cauli Local|
|  8|         Raddish Red|2013-06-16|  Kg|   35.0|   40.0|   37.5|       [Raddish Red]|         Raddish Red|
|  9|Raddish White(Local)|2013-06-16|  Kg|   25.0|   30.0|   27.5|[Raddish White(Lo...|Raddish White(Local)|
| 10|        Brinjal Long|2013-06-16|  Kg|   16.0|   18.0|   17.0|      [Brinjal Long]|        Brinjal Long|
| 11|       Brinjal Round|2013-06-16|  Kg|   20.0|   22.0|   21.0|     [Brinjal Round]|       Brinjal Round|
| 12|       Cow pea(Long)|2013-06-16|  Kg|   20.0|   25.0|   22.5|     [Cow pea(Long)]|       Cow pea(Long)|
| 13|          Green Peas|2013-06-16|  Kg|   55.0|   60.0|   57.5|        [Green Peas]|          Green Peas|
| 14|  French Bean(Local)|2013-06-16|  Kg|   25.0|   30.0|   27.5|[French Bean(Local)]|  French Bean(Local)|
| 15|      Soyabean Green|2013-06-16|  Kg|   60.0|   70.0|   65.0|    [Soyabean Green]|      Soyabean Green|
| 16|        Bitter Gourd|2013-06-16|  Kg|   14.0|   16.0|   15.0|      [Bitter Gourd]|        Bitter Gourd|
| 17|        Bottle Gourd|2013-06-16|  Kg|   15.0|   20.0|   17.5|      [Bottle Gourd]|        Bottle Gourd|
| 18|Pointed Gourd(Local)|2013-06-16|  Kg|   30.0|   35.0|   32.5|[Pointed Gourd(Lo...|Pointed Gourd(Local)|
| 19|         Snake Gourd|2013-06-16|  Kg|   25.0|   30.0|   27.5|       [Snake Gourd]|         Snake Gourd|
+---+--------------------+----------+----+-------+-------+-------+--------------------+--------------------+
only showing top 20 rows

### Working with Complex Types: Maps

Question: Create a new DataFrame from the Kalimati Tarkari dataset, including a new column "PriceMap" that is a map with "Commodity" as the key and "Average" price as the value.
Answer:

In [ ]:
#Expected_Solution

+---+--------------------+----------+----+-------+-------+-------+------------------------------+
|SN |Commodity           |Date      |Unit|Minimum|Maximum|Average|PriceMap                      |
+---+--------------------+----------+----+-------+-------+-------+------------------------------+
|0  |Tomato Big(Nepali)  |2013-06-16|Kg  |35.0   |40.0   |37.5   |{Tomato Big(Nepali) -> 37.5}  |
|1  |Tomato Small(Local) |2013-06-16|Kg  |26.0   |32.0   |29.0   |{Tomato Small(Local) -> 29.0} |
|2  |Potato Red          |2013-06-16|Kg  |20.0   |21.0   |20.5   |{Potato Red -> 20.5}          |
|3  |Potato White        |2013-06-16|Kg  |15.0   |16.0   |15.5   |{Potato White -> 15.5}        |
|4  |Onion Dry (Indian)  |2013-06-16|Kg  |28.0   |30.0   |29.0   |{Onion Dry (Indian) -> 29.0}  |
|5  |Carrot(Local)       |2013-06-16|Kg  |30.0   |35.0   |32.5   |{Carrot(Local) -> 32.5}       |
|6  |Cabbage(Local)      |2013-06-16|Kg  |6.0    |10.0   |8.0    |{Cabbage(Local) -> 8.0}       |
|7  |Cauli Local         |2013-06-16|Kg  |30.0   |35.0   |32.5   |{Cauli Local -> 32.5}         |
|8  |Raddish Red         |2013-06-16|Kg  |35.0   |40.0   |37.5   |{Raddish Red -> 37.5}         |
|9  |Raddish White(Local)|2013-06-16|Kg  |25.0   |30.0   |27.5   |{Raddish White(Local) -> 27.5}|
|10 |Brinjal Long        |2013-06-16|Kg  |16.0   |18.0   |17.0   |{Brinjal Long -> 17.0}        |
|11 |Brinjal Round       |2013-06-16|Kg  |20.0   |22.0   |21.0   |{Brinjal Round -> 21.0}       |
|12 |Cow pea(Long)       |2013-06-16|Kg  |20.0   |25.0   |22.5   |{Cow pea(Long) -> 22.5}       |
|13 |Green Peas          |2013-06-16|Kg  |55.0   |60.0   |57.5   |{Green Peas -> 57.5}          |
|14 |French Bean(Local)  |2013-06-16|Kg  |25.0   |30.0   |27.5   |{French Bean(Local) -> 27.5}  |
|15 |Soyabean Green      |2013-06-16|Kg  |60.0   |70.0   |65.0   |{Soyabean Green -> 65.0}      |
|16 |Bitter Gourd        |2013-06-16|Kg  |14.0   |16.0   |15.0   |{Bitter Gourd -> 15.0}        |
|17 |Bottle Gourd        |2013-06-16|Kg  |15.0   |20.0   |17.5   |{Bottle Gourd -> 17.5}        |
|18 |Pointed Gourd(Local)|2013-06-16|Kg  |30.0   |35.0   |32.5   |{Pointed Gourd(Local) -> 32.5}|
|19 |Snake Gourd         |2013-06-16|Kg  |25.0   |30.0   |27.5   |{Snake Gourd -> 27.5}         |
+---+--------------------+----------+----+-------+-------+-------+------------------------------+
only showing top 20 rows

In [29]:
#My_Solution

#Importing necessary library for SQL Function "create_map"

from pyspark.sql.functions import create_map

In [33]:
#Creating a new DataFrame from the Kalimati Tarkari dataset, 
# including a new column "PriceMap" that is a map with "Commodity" as the key and "Average" price as the value.

MapsKalimati = kalimati_df.select("*",create_map(col("Commodity"),col("Average")).alias("PriceMap"))
MapsKalimati.show()

+---+--------------------+----------+----+-------+-------+-------+--------------------+
| SN|           Commodity|      Date|Unit|Minimum|Maximum|Average|            PriceMap|
+---+--------------------+----------+----+-------+-------+-------+--------------------+
|  0|  Tomato Big(Nepali)|2013-06-16|  Kg|   35.0|   40.0|   37.5|{Tomato Big(Nepal...|
|  1| Tomato Small(Local)|2013-06-16|  Kg|   26.0|   32.0|   29.0|{Tomato Small(Loc...|
|  2|          Potato Red|2013-06-16|  Kg|   20.0|   21.0|   20.5|{Potato Red -> 20.5}|
|  3|        Potato White|2013-06-16|  Kg|   15.0|   16.0|   15.5|{Potato White -> ...|
|  4|  Onion Dry (Indian)|2013-06-16|  Kg|   28.0|   30.0|   29.0|{Onion Dry (India...|
|  5|       Carrot(Local)|2013-06-16|  Kg|   30.0|   35.0|   32.5|{Carrot(Local) ->...|
|  6|      Cabbage(Local)|2013-06-16|  Kg|    6.0|   10.0|    8.0|{Cabbage(Local) -...|
|  7|         Cauli Local|2013-06-16|  Kg|   30.0|   35.0|   32.5|{Cauli Local -> 3...|
|  8|         Raddish Red|2013-06-16|  Kg|   35.0|   40.0|   37.5|{Raddish Red -> 3...|
|  9|Raddish White(Local)|2013-06-16|  Kg|   25.0|   30.0|   27.5|{Raddish White(Lo...|
| 10|        Brinjal Long|2013-06-16|  Kg|   16.0|   18.0|   17.0|{Brinjal Long -> ...|
| 11|       Brinjal Round|2013-06-16|  Kg|   20.0|   22.0|   21.0|{Brinjal Round ->...|
| 12|       Cow pea(Long)|2013-06-16|  Kg|   20.0|   25.0|   22.5|{Cow pea(Long) ->...|
| 13|          Green Peas|2013-06-16|  Kg|   55.0|   60.0|   57.5|{Green Peas -> 57.5}|
| 14|  French Bean(Local)|2013-06-16|  Kg|   25.0|   30.0|   27.5|{French Bean(Loca...|
| 15|      Soyabean Green|2013-06-16|  Kg|   60.0|   70.0|   65.0|{Soyabean Green -...|
| 16|        Bitter Gourd|2013-06-16|  Kg|   14.0|   16.0|   15.0|{Bitter Gourd -> ...|
| 17|        Bottle Gourd|2013-06-16|  Kg|   15.0|   20.0|   17.5|{Bottle Gourd -> ...|
| 18|Pointed Gourd(Local)|2013-06-16|  Kg|   30.0|   35.0|   32.5|{Pointed Gourd(Lo...|
| 19|         Snake Gourd|2013-06-16|  Kg|   25.0|   30.0|   27.5|{Snake Gourd -> 2...|
+---+--------------------+----------+----+-------+-------+-------+--------------------+
only showing top 20 rows

### Working with JSON

Question: Convert the "kalimati_df" DataFrame to JSON format and write it to a JSON file.

In [36]:
#Importing necessary library for "to_json & from_json"

from pyspark.sql.functions import to_json,from_json

In [37]:
#Converting the "kalimati_df" DataFrame to JSON format and write it to a JSON file

jsonKalimati = kalimati_df.selectExpr("(Sn,Commodity,date,unit,minimum,maximum,average) as KalimatiJson").select(to_json(col("KalimatiJson")))
jsonKalimati.show()

+---------------------+
|to_json(KalimatiJson)|
+---------------------+
| {"Sn":0,"Commodit...|
| {"Sn":1,"Commodit...|
| {"Sn":2,"Commodit...|
| {"Sn":3,"Commodit...|
| {"Sn":4,"Commodit...|
| {"Sn":5,"Commodit...|
| {"Sn":6,"Commodit...|
| {"Sn":7,"Commodit...|
| {"Sn":8,"Commodit...|
| {"Sn":9,"Commodit...|
| {"Sn":10,"Commodi...|
| {"Sn":11,"Commodi...|
| {"Sn":12,"Commodi...|
| {"Sn":13,"Commodi...|
| {"Sn":14,"Commodi...|
| {"Sn":15,"Commodi...|
| {"Sn":16,"Commodi...|
| {"Sn":17,"Commodi...|
| {"Sn":18,"Commodi...|
| {"Sn":19,"Commodi...|
+---------------------+
only showing top 20 rows